<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.babenkovladimir">

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:logo="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
      android:name=".cameraX.splash.SplashScreenActivity"
      android:noHistory="true"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service
      android:enabled="true"
      android:exported="true"
      android:name=".cameraX.previous.MyService"/>

    <activity
      android:name=".cameraX.main.MainActivity"
      android:screenOrientation="portrait"/>

    <activity
      android:name=".cameraX.previous.CameraXActivity"
      android:screenOrientation="portrait"/>

    <activity
      android:label="@string/mvp_architecture"
      android:name=".cameraX.mvp.CameraXActivityMVP"
      android:screenOrientation="portrait"/>

    <activity
      android:label="@string/mvvm_architecture"
      android:name=".cameraX.mvvm.CameraXActivityMVVM"
      android:screenOrientation="portrait"/>

  </application>

</manifest>